.item {
  display: flex;
  margin-top: 10px;
  align-items: center;
}

.icon {
  fill: var(--inverted-primary-color);
  transition: all 0.2s;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.collapsed.item {
  .link {
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.2s;
  }
  
  .link {
    opacity: 0;
    width: 0;
    height: 0;
    transition: all 0.2s;
  }

  .icon {
    width: 30px;
    height: 30px;
  }
}

.collapsed.item{
  margin-left: auto;
  margin-right: auto;
}